.groupDetailsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93vh;
  color: #fff;
  background: #424769;
}

@media screen and (width < 768px) {}