.landingPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 93vh;
}

.haveAccount {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  text-decoration: underline;
}

@media screen and (width < 768px) {}