.signinFormContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 50%;
  border: 1px solid #000;
  border-radius: 10px;
}
.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
.label {
  color: #000;
  width: 80%;
  height: 30%;
  text-align: left;
}
.inputBox {
  width: 80%;
  height: 30%;
  border: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid #000;
  font-size: 15px;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
}
.signinButton {
  width: 50%;
  height: 35%;
  font-size: 15px;
  color: #fff;
  background: #8338A0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 20px;
  font-weight: bold;
}
.dontHaveAccount {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  text-decoration: underline;
}
.error-msg {
  font-size: 13px;
  color: red;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}